[submodule "src/sparse_circuit_discovery"]
	path = src/sparse_circuit_discovery
	url = https://github.com/DavidUdell/sparse_circuit_discovery
[submodule "src/feature-circuits"]
	path = src/feature-circuits
	url = https://github.com/JacksonKaunismaa/feature-circuits/
